<div class="p-6 max-w-xl mx-auto">
  <h2 class="text-2xl font-bold mb-4">Crear Empleado</h2>

  <form [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()" class="space-y-4">

    <input formControlName="nombre"
           placeholder="Nombre"
           class="w-full border px-4 py-2 rounded" />
    <p *ngIf="empleadoForm.get('nombre')?.touched && empleadoForm.get('nombre')?.invalid"
       class="text-red-600 text-sm">
      El nombre es obligatorio.
    </p>

    <input formControlName="apellido"
           placeholder="Apellido"
           class="w-full border px-4 py-2 rounded" />
    <p *ngIf="empleadoForm.get('apellido')?.touched && empleadoForm.get('apellido')?.invalid"
       class="text-red-600 text-sm">
      El apellido es obligatorio.
    </p>

    <input formControlName="correo"
           type="email"
           placeholder="Correo"
           class="w-full border px-4 py-2 rounded" />
    <p *ngIf="empleadoForm.get('correo')?.touched && empleadoForm.get('correo')?.invalid"
       class="text-red-600 text-sm">
      <span *ngIf="empleadoForm.get('correo')?.errors?.['required']">El correo es obligatorio.</span>
      <span *ngIf="empleadoForm.get('correo')?.errors?.['email']">Formato de correo inválido.</span>
    </p>

    <input formControlName="cargo"
           placeholder="Cargo"
           class="w-full border px-4 py-2 rounded" />
    <p *ngIf="empleadoForm.get('cargo')?.touched && empleadoForm.get('cargo')?.invalid"
       class="text-red-600 text-sm">
      El cargo es obligatorio.
    </p>


    <select formControlName="tiendaId" class="w-full border px-4 py-2 rounded">
      <option [ngValue]="null" disabled>Seleccione una tienda</option>
      <option *ngFor="let tienda of tiendas" [ngValue]="tienda.id">{{ tienda.nombre }}</option>
    </select>
    <p *ngIf="empleadoForm.get('tiendaId')?.touched && empleadoForm.get('tiendaId')?.invalid"
       class="text-red-600 text-sm">
      Debe seleccionar una tienda.
    </p>

    <div class="flex justify-between items-center">
      <label class="flex items-center space-x-2">
        <input type="checkbox" formControlName="estaActivo" />
        <span>Activo</span>
      </label>
      <input type="date" formControlName="fechaIngreso" class="border px-2 py-1 rounded" />
    </div>

    <button type="submit"
            [disabled]="empleadoForm.invalid"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded disabled:opacity-50 disabled:cursor-not-allowed">
      Guardar
    </button>
  </form>
</div>
